@model ErrorViewModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<h1 class="text-danger">@Localizer["Error"]</h1>
<h2 class="text-danger">@Localizer["Notification"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["ID"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Localizer["Mode"]</h3>
<p>
    @Localizer["Swapping"] <strong>@Localizer["Development"]</strong> @Localizer["EnvironmentDetails"]
</p>
<p>
    <strong>@Localizer["WarningNonEnablement"]</strong>
    @Localizer["WarningSensitiveInfo"]
    @Localizer["LocalDebugging"] <strong>@Localizer["Development"]</strong> @Localizer["EnvironmentSetting"] <strong>ASPNETCORE_ENVIRONMENT</strong> @Localizer["Variable"] <strong>@Localizer["Development"]</strong>
    and restarting the app.
</p>
